*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background: #f2f2f2; */
    font-size: 16px;
}
ul > li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

/* 

------------- HEADER NAV ----------------------

*/
.header-land{
    height: 450px;
    background-image: url(../assets/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f6f6f6;
}

.menu-nav-forms,
.menu-nav{
    width: 100%;
    background: #141414;
}

header nav{width: 100%;}

header .header-logo{
    position: absolute;
    width: 160px;
}

header .header-logo img{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: end;
}

.menu-nav-item a{ color: #fff;}

nav .menu-nav-item{
    padding: 20px;
    border-bottom: 1px solid transparent;
}

nav .menu-nav-item:hover{
    text-decoration: underline;
}

header .header-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header .btn-menu{
    padding: 15px 30px;
    color: #000;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: .3s ease all;
    height: 50px;
    width: 150px;
    margin-top: 300px;
    text-align: center;
    
}

header .btn-menu:hover{
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}
header .p-menu{
    margin-top: 5px;
    font-weight: bold;
    color: #000;
    
}

/* 

------------ MAIN LANDING PAGE ---------------

*/

.main-grid{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 50px repeat(2, 200px) 50px;
    justify-content: center;
    gap: 8px;
}
.products-tittle{
    grid-column: 2 / 4;
    font-size: 32px;
    text-align: center;
   
}

.p1{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 400px;
 }

 .p2{
     grid-column: 3 / 4;
     grid-row: 2 / 3;
     width: 200px;
 }

 .p3{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    width: 200px;
 }
 .p4{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 200px;
 }
 .p5{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    width: 200px;
 }

 .a-grid{
    align-self: center;
    grid-column: 2 / 4 ;
    grid-row: 4 / 5;
    margin-left: 130px;
    width: 150px;
    border: 1px solid #000;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
     
 }

 .a-grid:hover{
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
 }

.main-anchor{
    display: block;
    border: 1px solid #7F3FBF;
    border-radius: 8px;
    color: #7F3FBF;
    width: 150px;
    text-align: center;
    margin: 10px auto;
    
}

.main-anchor:hover{
  
    font-size: 24px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #7F3FBF;

}


/* 

----------- ABOUT US -------------

*/


.founder,
.about-subtittle,
.main-about-history-tittle{
    text-align: center;
}
.about-subtittle,
.main-about-history-tittle{
    font-size: 35px;
    margin: 20px 0;
}

.founder-img{
    width: 180px;
    border-radius: 30%;
    margin: 10px 0;
}

article{
    font-size: 20px;
    padding-top: 40px;
    text-align: justify;
    line-height: 37px;
}

/* 

--------------------- PRODUCTS -----------------------

*/

.main-product{
    background-color: #f2f2f2;
    width: 250px;
    height: 350px;
    display: flex;
    margin: 10px auto;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    transition: .3s ease all;
    
}

.main-product:hover{
    width: 400px;
    height: 500px;
    z-index: 1;
}
.main-product img:hover{
    width: 350px;

}
.main-product img{
    margin: 20px;
    width: 200px;
    border-radius: 8px;
    transition: .2s ease all;
}

.main-products{
    display: flex;
    margin: 30px auto;
    padding: 15px;
    flex-direction: center;
    flex-wrap: wrap;
}

.products-subtittle{
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}

.product-anchor{
    padding: 15px 30px;
    border: 1px solid #7F3FBF;
    border-radius: 8px;
    color: #7F3FBF;
    
}

.product-anchor:hover{
    background-color: #7F3FBF;
    color: #fff;
}
/* 

-----------------------FORMS--------------------


*/

.main-signup-form,
.main-login-form,
.main-contact-form{
    background: #f2f2f2;
    width: 100%;
    height: auto;
    margin-top: 20%;
    font-size: 18px;
    padding: 40px;
    text-align: center;
    border-radius: 25px;
}

.main-signup-form{
    margin-top: 10%;
}


main form input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    width: 70%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 2px solid #ccc;
    
}


textarea{
    min-width: 70%;
    max-width: 70%;
    min-height: 200px;
    max-height: 200px;
}
.main-signup-form-sex{
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 70%;
    
}
form input[type="radio"]{
    display: none;
}

main form .label-radio{
    background-color: rgba(127, 63, 191, .5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 49.5%;
}

main form input[type="radio"]:checked + .label-radio{
    background-color: rgba(127, 63, 191);
}

main form  .male{
    border-radius: 5px 2px 2px 5px;

}

main form .female{
    border-radius: 2px 5px 5px 2px;
}

.btn-form{
    display: inline-flex;
    background-color: #141414;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 50px;
    width: 10%;
    margin: 15px 0 ;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;

}

.btn-form span{
    position: relative;
    z-index: 2;
    transform: .3s ease all;
}

.btn-form::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #7F3FBF;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.btn-form:hover::after{
    top: 0;
}

.btn-form.sign{
    width: 15%;
}





.main-login-p > a{
    color: #7F3FBF;
}

.main-login-p > a:hover{text-decoration: underline;}

/*
------------- FOOTER ----------------------

*/
.footer-fixed{
    position: absolute;
    bottom: 0;
}

footer{
    background: #141414;
    color: #fff;
    padding: 30px;
    margin-top: 50px;
    width: 100%;
}


.social-media-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.social-media-footer > a{
    color: #fff;
    width: 100px;
    display: inline-block;
    padding: 15px 0 ;
    border-radius: 3px;
    font-size: 30px ;
    margin: 0 20px;
    text-align: center;
}

.social-media-footer .twitter:hover{background: #1da1f2}
.social-media-footer .youtube:hover{background: #ff0000}
.social-media-footer .facebook:hover{background: #1877f2}
.social-media-footer .instagram:hover{background: #833ab4}
.social-media-footer .github:hover{background: #666}


/* 

--------------- MEDIA QUERIES 

*/
@media (max-width: 1000px) {
    .productBG{
        display: none;
    }

    .btn-form.sign, .btn-form{
        width: 40%;
    }
}

@media (max-width: 842px) {
    .main-grid{
        grid-template-columns: 200px 200px;
        grid-template-rows: 50px repeat(2, 200px) 50px;
        justify-content: center;
        
    }
    .products-tittle{
        grid-column: 1 / 3;
        font-size: 32px;
        text-align: center;
       
    }
    
    .p1{
       display: none;
     }
    
     .p2{
         grid-column: 1 / 2;
         grid-row: 2 / 3;
         width: 200px;
     }
    
     .p3{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 200px;
     }
     .p4{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 200px;
     }
     .p5{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 200px;
     }
    
     .a-grid{
        align-self: center;
        grid-column: 1 / 3 ;
        grid-row: 4 / 5;
        margin-left: 130px;
        width: 150px;
        border: 1px solid #000;
        text-align: center;
        padding: 15px 20px;
        border-radius: 10px;
         
     }

   
}

@media (max-width: 556px) {
   .header-logo{
       display: none;
   }
   header nav ul{
       justify-content: center;
   }
}